* {
	margin: 0;
	padding: 0;
}

body {
	background-color: black;
	display: flex;
	font-family: 'Heebo', sans-serif;
}

p, blockquote {
	margin-bottom: 1.5em;
}

blockquote {
	font-style: italic;
}

h3, h4 {
	margin-bottom: .5em;
}

.close {
  font-size: 2em;
  color: #fff;
  line-height: 1;
}