header, main {
	padding: 2em;
}		

header {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 1), transparent);
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav#top {
	font-size: 18px;
}

nav#top ul {
	list-style-type: none;
}

nav#top ul li {
	cursor: pointer;
	line-height: 1;
	border-bottom: 2px solid transparent;
}


nav#top ul, .social-links {
	display: flex;
	display: -ms-flex;
}

nav#top ul li, .social-links a {
	margin: 0 .75em;
}

nav#top ul li:first-child, .social-links a:first-child {
	margin-left: 0;
}

nav#top ul li:last-child, .social-links a:last-child {
	margin-right: 0;
}

@supports (display: grid) {
	nav#top ul, .social-links {
		display: grid;
		display: -ms-grid;

		grid-auto-flow: column;

		grid-gap: 1.5em;
	}

	nav#top ul li, .social-links a {
		margin: 0;
	}
}

.social-links i.fa {
	font-size: 1.5em;
	color: #000;
}

header .social-links i.fa {
	color: #fff;
}

.social-links i.fa:hover, nav#top ul li:hover, #play-pause-big i.fa:hover {
	opacity: .5;
}