#wrapper {
	display: flex;
	flex-direction: column;

	flex-grow: 1;

	/*background-color: darkkhaki;*/
	background-image: url('/img/bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	/*background-blend-mode: multiply;*/

	height: 100vh;
}

main {
	color: white;
	font-size: 32px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	margin-bottom: 100px;
}

#logo img {
	height: 5em;
	filter: drop-shadow(0 0 .2em rgba(0, 0, 0, .75));
}

#band-name {
	line-height: 1;
	margin-top: .75em;
	text-shadow: 0 0 .2em rgba(0, 0, 0, .75);
	font-family: 'Cinzel Decorative' !important;
}

#band-name div {
	position: relative;
	line-height: .85;
}

#band-name div:first-child {
	left: -23;
}

#band-name div:last-child {
	left: 54;
}

#show-player-btn i {
	text-shadow: 0 0 .2em rgba(0, 0, 0, .75);
}

#show-player-btn.play-pause {
	position: relative;
	left: 33;
	top: 50;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}