.header-when-modal-open {
    visibility: hidden;
}

@media only screen and (max-width: 768px) {
    .modal {
      max-width: none !important;
      max-height: none !important;
      height: 100% !important;
      width: 100% !important;
    }

    .close, #tabs {
      display: none;
    }

    .content {
      border-radius: 0 !important;
    }

    header {
      display: inline-block;
    }

    header nav {
      font-size: 16px !important;
    }

    header .social-links {
      display: none;
    }
    nav#top {
      text-align: center;
    }

    div#modal.modal-wrapper.modal-open {
      margin-top: 80px !important;
    }

    .header-when-modal-open {
        visibility: visible;
        background-color: rgba(0, 0, 0, .5);
    }
}


.modal-wrapper {
    visibility: hidden;
    z-index: 1050;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    flex-direction: column;
}

.modal-open {
    visibility: visible;
    background-color: rgba(0, 0, 0, .5);
}

.modal {
    z-index: 1040;
    position: relative;
    background-color: #fff;
    max-height: calc(100% - 4em);
    max-width: calc(100% - 4em);
    width: 1000px;
    height: 750px;

    box-shadow: 0 0 40px 20px rgba(0, 0, 0, .35);

    border-radius: 12px;

    transform: scale(.8);
    transition: transform .1s;

    display: flex;

    background: transparent;
    
}

.content {
  background: rgba(200, 200, 200, .8);
  -webkit-backdrop-filter: blur(10px);
}

#tabs {
  background: rgba(0, 0, 0, .75);
  -webkit-backdrop-filter: blur(10px);
}

@supports (-webkit-backdrop-filter: blur(10px)) {
  .content {
    background: rgba(255, 255, 255, .6);
    -webkit-backdrop-filter: blur(10px);
  }

  #tabs {
    background: rgba(0, 0, 0, .5);
    -webkit-backdrop-filter: blur(10px);
  }
}

.modal-open .modal {
    transform: scale(1);
}

.modal-header {
  min-height: 16px;
  padding: 15px;
}

.modal-title {
  text-align: center;
}

.modal-body {
    padding: 15px 30px 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.modal .close {
  position: absolute;
  right: -20;
  top: -25;
}

.close:hover,
.close:focus {
  opacity: .5;
  cursor: pointer;
}

#modal nav li {
  background: black;
}

#tabs {
  width: 200px;
  background: rgba(0, 0, 0, .5);
  -webkit-backdrop-filter: blur(10px);
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.tab {
  display: flex;
  align-items: center;
  color: white;
  padding: 0 2em;
  font-family: Heebo;
  font-size: 18px;
  cursor: pointer;
  height: 50px;
}

.tab.selected {
  background-color: #fff;
  color: #000;
  cursor: default;
}

.content {
    flex-grow: 1;
    max-width: calc(800px - 4em);
    overflow-y: auto;
    overflow-x: auto;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 2em;
}