#player {
	display: none;

	justify-content: space-between;
	align-items: center;
	
	background-color: rgba(10, 20, 10, .75);
	height: 100px;
	width: 100%;

	position: fixed;
	bottom: 0;
}

#player #controls {
	display: flex;

	justify-content: center;
	align-items: center;

	margin: 0 150px;
}

.play-pause {
	cursor: pointer;
	font-size: 56px;
}

#mute-btn {
	font-size: 2em;
	color: #fff;
	line-height: 1;
	margin-right: .5em;
	width: 1em;
}

#player .play-pause {
	font-size: 18px;
	margin-top: 0;
	background: gold;
	padding: .5em;
	border-radius: 50%;
}

.play-pause .fa-play {
	margin-left: .25em;
}

.play-pause .fa-pause {
	margin-left: .125em;
	margin-right: .125em;
}

#player #song-name {
	color: white;
}

#timebox {
	width: 100%;
	color: white;
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 25;
}

/* IE 11 workaround */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
	#timebox {
		top: 40;
	}
}

@supports (-ms-ime-align:auto) {
    #timebox {
		top: 45;
	}
}

#all-except-close {
	display: flex;
	justify-content: center;
	align-items: center;
}

#player .close {
	margin-right: 1em;
}