input[type=range] {
  -webkit-appearance: none;
  width: 350px;
  background: transparent;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  animate: 0.2s;
  background: rgba(0, 0, 0, .5);
  border-radius: 4px;
  border: 1px solid #999;
}

input[type=range]::-webkit-slider-thumb {
  border: 1px solid #999;
  height: 24px;
  width: 8px;
  border-radius: 4px;
  background: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(0, 0, 0, .5);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  animate: 0.2s;
  background: rgba(0, 0, 0, .5);
  border-radius: 4px;
  border: 1px solid #999;
}
input[type=range]::-moz-range-thumb {
  border: 1px solid #999;
  height: 24px;
  width: 8px;
  border-radius: 4px;
  background: #fff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(0, 0, 0, .5);
  border: 1px solid #999;
  border-radius: 4px;
}
input[type=range]::-ms-fill-upper {
  background: rgba(0, 0, 0, .5);
  border: 1px solid #999;
  border-radius: 4px;
}
input[type=range]::-ms-thumb {
  border: 1px solid #999;
  height: 24px;
  width: 8px;
  border-radius: 4px;
  background: #fff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(0, 0, 0, .5);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(0, 0, 0, .5);
}

#volume-slider {
  width: 150px;
}